@font-face {
  font-family: 'Marlin Sans';
  src: url('../public/font/marlin-sans.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Marlin Sans', Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Marlin Sans', Arial, Helvetica, sans-serif;
}